#page-header {
    background-image: url("../img/header.jpg");
}

button {
    color: white;
    border: solid 1px transparent;
    background-color: #e3e6e9;
}

button:hover {
    color: #4b2e83;
    border: solid 1px #4b2e83;
    background-color: white;
}

h2 {
    color: #4b2e83;
    margin: 0;
    align-self: center;
    font-weight: bold;
    font-size: 18pt;
}

#search-bar {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px lightgray;
}

.search-condition {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search-condition > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search-condition-input {
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
}

.search-condition-title {
    font-size: 11.5pt;
}

#submit-search {
    background-color: #4b2e83;
    color: white;
    border: 0;
    border-radius: 3px;
    height: 30px;
    width: 100px;
}

@media (min-width: 768px) {
    .search-condition {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .search-condition > div {
        width: 100%;
    }

    .search-condition-title {
        font-size: 10pt;
    }
}

@media (min-width: 992px) {
    #search-bar {
        display: flex;
        align-content: center;
        justify-content: space-between;
        border-bottom: solid 1px lightgray;
    }

    .search-condition > div {
        width: 30%;
        display: block;
    }

    .search-condition {
        width: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .search-condition-input {
        width: 50%;
        height: 30px;
        margin-bottom: 0;
    }
}

#content-wrapper {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    #content-wrapper {
        width: 90%;
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    #side-bar-wrapper {
        width: 30%;
        max-width: 280px;
        margin-right: 5%;
    }
}

#result-filter-wrapper{
    margin: 0 auto;
    width: 80%;
    height: 200px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    border: solid 2px #b1bbc2;
    border-radius: 10px;
    background-color: #e3e6e9;
}

#result-filter-wrapper label {
    font-size: 11.5pt;
}

.result-filter div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#filter-apply {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    background-color: #4b2e83;
    color: white;
    border: 0;
    border-radius: 3px;
}

.work-time {
    width: 40%;
    height: 20px;
}

#add-new-post-wrapper {
    margin: 20px auto;
    padding: 1rem;
    width: 80%;
    border: solid 2px #b1bbc2;
    border-radius: 10px;
    background-color: #e3e6e9;
}

#add-new-post-wrapper > p {
    font-size: 11.5pt;
}

#add-new-post {
    width: 100%;
    height: 30px;
    background-color: #4b2e83;
    color: white;
    font-size: 11.5pt;
}

.new-post-input-wrapper {
    margin: 10px 5px 0 5px;
    display: grid;
    grid-template-columns: 52% 40%;
    column-gap: 3%;
}

#new-post-form:not(.collapse) {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#new-post-form input {
    height: 30px;
}

#post-new-post {
    border: 0;
    border-radius: 3px;
    background-color: #4b2e83;
    color: white;
    font-size: 11.5pt;
}

#search-result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#search-result-content {
    width: 100%;
}

.search-result {
    border-radius: 3px;
    border: solid 2px #b1bbc2;
    background-color: #e3e6e9;
    width: 80%;
    margin: 20px auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.result-avatar {
    border-radius: 50%;
}

.search-result div {
    font-size: 11.5pt;
}

.send-message {
    height: 30px;
    background-color: #4b2e83;
    color: white;
}

@media (min-width: 768px) {
    #search-result-wrapper {
        width: 65%;
    }

    .search-result {
        width: 100%;
        height: 100px;
        margin: 0 0 20px 0;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        justify-content: space-around;
        align-items: center;
    }

    .search-result div {
        display: block;
        font-size: 11.5pt;
    }

    .send-message {
        height: 60%;
    }
}