.result-avatar {
    width: 100px;
    height: 100px;
}

*.collapse {
    display: none;
}

input:hover {

}

body {
    margin: 0;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: black;
    background-color: white;
}

#page-header {
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1rem 1rem 1rem 10%;
}


nav {
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    background-color: #4b2e83;
}

nav > a {
    margin-left: 10%;
    width: 10%;
}

nav img {
    margin-top: 10px;
    margin-bottom: auto;
    height: 80%;
    width: auto;
}

#link-tab-wrapper {
    height: 100%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#link-tab-wrapper a {
    margin-right: 5px;
    text-decoration: none;
    color: white;
    font-size: 11.5pt;
    font-weight: bold;
}

#link-tab-wrapper a:hover {
    color: #FF868686;
}

#home-header{
    background-image: url("../img/home_header.jpg");
    background-size: cover;
    padding: 8% 35% 8% 20%;
    color: white;
}
.card {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  }

main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

button {
    border: 0;
    border-radius: 3px;
}

footer {
    text-align: center;
    color: black;
}

.container{
    margin-bottom: 5rem;
    margin-top: -2rem;
}

.footer {
    line-height: 5%;
}

@media (min-width: 768px) {
    #link-tab-wrapper a {
        margin-right: 10px;
        font-size: 14.5pt;
    }
}